In [1]:
import pandas as pd

In [2]:
traffic_data = pd.read_csv('Raw_count_data_major_roads.csv')
df1 = pd.DataFrame(traffic_data)
#df1 = df1.loc[df1['Estimation_method'] == 'Counted']
df1 = df1.rename(columns={'S Ref E': 'easting', 'S Ref N': 'northing'})
df1['easting'] = df1['easting'].astype('str')
df1['northing'] = df1['northing'].astype('str')

In [3]:
df1.head(3)

,Region Name (GO),ONS LACode,ONS LA Name,CP,easting,northing,S Ref Latitude,S Ref Longitude,Road,A-Junction,...,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV
0,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,3,314,169.0,22,10.0,82.0,198,135.0,616.0,3353.0
1,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,3,231,148.0,16,22.0,64.0,180,109.0,539.0,3297.0
2,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,11,245,175.0,14,25.0,65.0,195,116.0,590.0,2730.0

In [4]:
weather_data = pd.read_csv('weather_example.csv', skiprows = 0)
df2 = pd.DataFrame(weather_data)
df2 = df2.T
df2.reset_index(level = 0, drop=False, inplace=True)
df2.columns = df2.iloc[0]
df2 = df2.drop(df2.index[0])
df2.columns[2:].astype('datetime64[ns]')
df2.iloc[:,0:2].astype('float')
date_range = df2.columns >= '2000-03-17'
df2 = df2.iloc[:, date_range]
df2.head(3)

,easting,northing,2000-03-17,2000-03-18,2000-03-19,2000-03-20,2000-03-21,2000-03-22,2000-03-23,2000-03-24,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
1,22500,497500,9.78,9.61,11.91,9.66,9.22,6.59,7.51,7.26,...,6.88,8.26,10.96,11.16,5.03,5.4,5.96,10.36,11.12,9.61
2,27500,497500,10.81,10.44,12.98,10.69,10.37,7.88,8.69,8.45,...,8,9.26,11.81,12.03,6.1,5.97,6.8,10.96,11.86,10.52
3,32500,497500,11.71,11.39,13.89,11.64,11.4,9.26,9.76,9.51,...,8.92,10.07,12.46,12.68,7,6.41,7.48,11.41,12.41,11.21

In [33]:
df2['easting'] = df2['easting'].astype(str)
df2['northing'] = df2['northing'].astype(str)

In [34]:
df2['id'] = df2['easting'] + df2['northing']

In [41]:
df3 = df2.drop(['easting','northing'], axis = 1)

In [42]:
df3

,2000-03-17,2000-03-18,2000-03-19,2000-03-20,2000-03-21,2000-03-22,2000-03-23,2000-03-24,2000-03-25,2000-03-26,...,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31,id
1,9.78,9.61,11.91,9.66,9.22,6.59,7.51,7.26,7.46,8.09,...,8.26,10.96,11.16,5.03,5.4,5.96,10.36,11.12,9.61,22500497500.0
2,10.81,10.44,12.98,10.69,10.37,7.88,8.69,8.45,8.57,9.31,...,9.26,11.81,12.03,6.1,5.97,6.8,10.96,11.86,10.52,27500497500.0
3,11.71,11.39,13.89,11.64,11.4,9.26,9.76,9.51,9.52,10.52,...,10.07,12.46,12.68,7,6.41,7.48,11.41,12.41,11.21,32500497500.0
4,11.7,11.74,13.73,11.72,11.41,9.94,9.89,9.35,9.4,10.77,...,10.18,12.47,12.63,7.15,6.44,7.68,11.4,12.43,11.26,37500497500.0
5,11.52,11.98,13.35,11.61,11.24,10.44,9.83,9.05,9.06,10.88,...,10.23,12.51,12.65,7.16,6.45,7.78,11.37,12.48,11.3,42500497500.0
6,11.32,11.78,13.2,11.41,11.06,10.02,9.57,8.99,8.93,10.55,...,9.98,12.28,12.41,6.83,6.28,7.63,11.11,12.28,11.06,47500497500.0
7,10.98,10.9,13.1,10.94,10.67,8.56,9.06,8.66,8.79,9.65,...,9.36,11.63,11.74,6.37,5.94,7.02,10.85,11.69,10.39,32500.1492500.0
8,11.52,11.56,13.59,11.52,11.28,9.58,9.73,9.23,9.31,10.48,...,9.99,12.1,12.19,7.09,6.3,7.6,11.2,12.1,10.9,37500.1492500.0
9,11.66,11.88,13.68,11.72,11.48,10.09,9.95,9.43,9.42,10.82,...,10.26,12.38,12.49,7.29,6.45,7.84,11.33,12.35,11.18,42500.1492500.0
10,11.72,11.97,13.79,11.81,11.6,10.08,9.99,9.62,9.55,10.83,...,10.2,12.39,12.52,7.12,6.42,7.82,11.23,12.36,11.16,47500.1492500.0
11,9.14,9.55,11.1,9.1,8.67,6.49,7.06,6.49,6.83,7.41,...,7.42,9.84,9.79,4.35,4.66,5.57,9.43,10.18,8.57,32500.2487500.0
12,11.61,11.52,13.8,11.61,11.45,9.42,9.84,9.5,9.55,10.49,...,10.04,12.16,12.3,7.11,6.33,7.6,11.21,12.16,10.93,37500.2487500.0
13,11.72,11.76,13.91,11.78,11.66,9.73,9.99,9.71,9.69,10.69,...,10.19,12.3,12.43,7.21,6.4,7.76,11.24,12.29,11.08,42500.2487500.0
14,11.89,11.94,14.14,11.98,11.88,9.88,10.15,10,9.92,10.84,...,10.29,12.42,12.59,7.2,6.47,7.86,11.25,12.39,11.17,47500.2487500.0

In [69]:
dict1 = {'ID': '27749622',
       'Date': ('2000-01-03', '1996-08-09'),
       'temp': (59, 84),}

In [70]:
dict1

{'ID': '27749622', 'Date': ('2000-01-03', '1996-08-09'), 'temp': (59, 84)}

In [71]:
fr = pd.DataFrame(dict1)

In [72]:
fr

         ID        Date  temp
0  27749622  2000-01-03    59
1  27749622  1996-08-09    84

In [153]:
id_list = df3['id'].tolist()

In [79]:
date_list = df3.columns.tolist()

In [97]:
temp_list = df3.drop(['id'], axis=1)

In [98]:
temp_list2 = temp_list.as_matrix()

C:\Apps\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [99]:
temp_list2

array([[9.78, 9.61, 11.91, ..., 10.36, 11.12, 9.61],
       [10.81, 10.44, 12.98, ..., 10.96, 11.86, 10.52],
       [11.71, 11.39, 13.89, ..., 11.41, 12.41, 11.21],
       ...,
       [11.61, 11.52, 13.8, ..., 11.21, 12.16, 10.93],
       [11.72, 11.76, 13.91, ..., 11.24, 12.29, 11.08],
       [11.89, 11.94, 14.14, ..., 11.25, 12.39, 11.17]], dtype=object)

In [200]:
# for i in id_list:
# #      new_dict = {'ID': i,
# #                 'Dates': date_list}
# # new_df = pd.DataFrame(new_dict)
# # new_df

# for i in id_list:
#     for temp in i:
#             new_dict = {'Id': i,
#                         'Date': (date_list),
#                         'temp': (temp)}
df3.T

,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,,,,,,,,,,,,,
2000-03-17,9.78,10.81,11.71,11.7,11.52,11.32,10.98,11.52,11.66,11.72,9.14,11.61,11.72,11.89
2000-03-18,9.61,10.44,11.39,11.74,11.98,11.78,10.9,11.56,11.88,11.97,9.55,11.52,11.76,11.94
2000-03-19,11.91,12.98,13.89,13.73,13.35,13.2,13.1,13.59,13.68,13.79,11.1,13.8,13.91,14.14
2000-03-20,9.66,10.69,11.64,11.72,11.61,11.41,10.94,11.52,11.72,11.81,9.1,11.61,11.78,11.98
2000-03-21,9.22,10.37,11.4,11.41,11.24,11.06,10.67,11.28,11.48,11.6,8.67,11.45,11.66,11.88
2000-03-22,6.59,7.88,9.26,9.94,10.44,10.02,8.56,9.58,10.09,10.08,6.49,9.42,9.73,9.88
2000-03-23,7.51,8.69,9.76,9.89,9.83,9.57,9.06,9.73,9.95,9.99,7.06,9.84,9.99,10.15
2000-03-24,7.26,8.45,9.51,9.35,9.05,8.99,8.66,9.23,9.43,9.62,6.49,9.5,9.71,10
2000-03-25,7.46,8.57,9.52,9.4,9.06,8.93,8.79,9.31,9.42,9.55,6.83,9.55,9.69,9.92
2000-03-26,8.09,9.31,10.52,10.77,10.88,10.55,9.65,10.48,10.82,10.83,7.41,10.49,10.69,10.84
2000-03-27,10.14,11.53,12.95,13.47,13.75,13.17,12.01,13.05,13.43,13.27,9.55,12.93,13.05,13.09
2000-03-28,8.95,10.17,11.44,11.99,12.33,11.84,10.64,11.58,11.95,11.85,8.59,11.42,11.55,11.61
2000-03-29,9.59,10.62,11.68,12.03,12.19,11.87,11.07,11.81,12.09,12.09,9.36,11.82,11.95,12.07
2000-03-30,8.32,9.51,10.83,11.56,12.19,11.68,10.05,11.07,11.55,11.41,8.2,10.69,10.87,10.86
2000-03-31,9.38,10.42,11.36,11.37,11.15,10.98,10.71,11.26,11.4,11.51,8.95,11.46,11.6,11.8
2000-04-01,5.77,6.95,8.05,8.3,8.4,8.2,7.31,8.08,8.43,8.44,5.38,8.13,8.38,8.53
2000-04-02,3.16,4.55,5.8,6.15,6.23,5.97,5.1,5.94,6.33,6.32,3.01,6.02,6.34,6.52
2000-04-03,3.56,5.11,6.55,7,7.18,6.69,5.55,6.59,7.01,6.86,2.85,6.55,6.78,6.85
2000-04-04,6.32,7.71,9.1,9.64,9.97,9.45,8.19,9.25,9.71,9.51,5.75,9.16,9.34,9.36
2000-04-05,8.55,9.67,10.67,10.7,10.54,10.34,9.88,10.52,10.73,10.73,7.86,10.68,10.82,10.96
2000-04-06,10.44,11.71,12.86,13.04,13.01,12.66,11.97,12.77,13.03,12.93,9.68,12.82,12.93,13
2000-04-07,8.49,9.59,10.6,10.72,10.63,10.36,9.85,10.52,10.75,10.7,7.89,10.65,10.77,10.87
2000-04-08,9.45,10.87,12.3,12.83,13.16,12.71,11.37,12.42,12.9,12.77,9.01,12.32,12.57,12.66
2000-04-09,10.73,12.04,13.29,13.66,13.78,13.27,12.38,13.3,13.61,13.41,10.01,13.26,13.36,13.37
2000-04-10,8.79,10.09,11.34,11.79,11.99,11.62,10.58,11.47,11.86,11.77,8.54,11.44,11.66,11.76
2000-04-11,6.16,7.61,9.04,9.66,9.96,9.49,8.22,9.25,9.69,9.56,6.01,9.16,9.39,9.47
2000-04-12,5.92,7.33,8.77,9.44,9.85,9.36,7.94,9.01,9.5,9.34,5.78,8.86,9.1,9.16
2000-04-13,5.99,7.47,8.94,9.47,9.76,9.31,7.97,9.03,9.52,9.4,5.47,8.95,9.22,9.32
2000-04-14,7.29,8.69,10.07,10.52,10.78,10.31,9.12,10.14,10.58,10.43,6.66,10.08,10.28,10.35
2000-04-15,5.16,6.56,7.9,8.19,8.31,8.08,7.05,7.95,8.38,8.4,4.77,8.04,8.34,8.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-03,4.81,5.63,6.25,6.24,6.28,6.1,5.47,5.9,6.17,6.24,3.65,5.98,6.12,6.33
2016-12-04,4.42,4.79,4.95,4.79,4.87,4.89,4.18,4.21,4.51,4.82,3.1,4.35,4.51,4.88
2016-12-05,9.97,9.77,9.51,9.44,9.4,9.39,9.67,9.52,9.42,9.41,9.86,9.48,9.4,9.42
2016-12-06,13.21,13.83,14.29,14.33,14.37,14.2,13.72,14.1,14.31,14.3,12.37,14.14,14.24,14.33
2016-12-07,13.24,14.11,14.81,14.89,14.93,14.71,14.13,14.69,14.94,14.91,12.35,14.75,14.89,14.98
2016-12-08,12.52,13.1,13.54,13.56,13.58,13.39,13.04,13.4,13.57,13.53,11.74,13.45,13.53,13.59
2016-12-09,11.77,12.58,13.22,13.25,13.28,13.04,12.5,13,13.23,13.2,10.7,13.04,13.16,13.26
2016-12-10,8.38,9.33,10.05,10.09,10.13,9.86,9.17,9.7,9.99,9.98,7.27,9.76,9.91,10.02
2016-12-11,7.49,8.4,9.14,9.26,9.33,9.09,8.48,9.1,9.35,9.28,6.71,9.12,9.27,9.33
2016-12-12,9.28,9.75,10.08,10.04,10.05,9.89,9.54,9.8,9.96,9.98,8.37,9.86,9.93,10.02
2016-12-13,11.05,11.87,12.52,12.6,12.63,12.39,11.89,12.4,12.62,12.55,10.26,12.42,12.54,12.59
2016-12-14,6.39,7.43,8.29,8.49,8.66,8.55,7.61,8.29,8.67,8.77,5.79,8.37,8.64,8.87
2016-12-15,7.78,8.85,9.74,9.93,10.03,9.81,9.08,9.79,10.09,10.05,7.2,9.83,10.02,10.12
2016-12-16,6.95,7.98,8.82,9.03,9.13,8.88,8.21,8.9,9.17,9.08,6.51,8.9,9.07,9.1
2016-12-17,6.23,6.7,7.05,7.17,7.25,7.14,6.76,7.11,7.26,7.24,5.89,7.09,7.2,7.24
2016-12-18,7.94,8.19,8.36,8.42,8.48,8.42,8.19,8.41,8.51,8.52,7.61,8.42,8.49,8.55
2016-12-19,8.01,8.73,9.29,9.43,9.49,9.3,8.91,9.39,9.57,9.5,7.66,9.42,9.53,9.56
2016-12-20,4.89,5.96,6.85,7.03,7.11,6.85,6.19,6.89,7.17,7.08,4.33,6.92,7.08,7.14
2016-12-21,3.83,4.95,5.85,5.98,6.07,5.83,5.01,5.69,6.03,6.02,2.97,5.77,5.97,6.1
2016-12-22,6.88,8,8.92,9.06,9.12,8.82,8.18,8.89,9.16,9.07,6.12,8.94,9.09,9.14
2016-12-23,8.26,9.26,10.07,10.18,10.23,9.98,9.36,9.99,10.26,10.2,7.42,10.04,10.19,10.29
2016-12-24,10.96,11.81,12.46,12.47,12.51,12.28,11.63,12.1,12.38,12.39,9.84,12.16,12.3,12.42
2016-12-25,11.16,12.03,12.68,12.63,12.65,12.41,11.74,12.19,12.49,12.52,9.79,12.3,12.43,12.59
2016-12-26,5.03,6.1,7,7.15,7.16,6.83,6.37,7.09,7.29,7.12,4.35,7.11,7.21,7.2
2016-12-27,5.4,5.97,6.41,6.44,6.45,6.28,5.94,6.3,6.45,6.42,4.66,6.33,6.4,6.47
2016-12-28,5.96,6.8,7.48,7.68,7.78,7.63,7.02,7.6,7.84,7.82,5.57,7.6,7.76,7.86
2016-12-29,10.36,10.96,11.41,11.4,11.37,11.11,10.85,11.2,11.33,11.23,9.43,11.21,11.24,11.25
2016-12-30,11.12,11.86,12.41,12.43,12.48,12.28,11.69,12.1,12.35,12.36,10.18,12.16,12.29,12.39
2016-12-31,9.61,10.52,11.21,11.26,11.3,11.06,10.39,10.9,11.18,11.16,8.57,10.93,11.08,11.17
id,22500497500.0,27500497500.0,32500497500.0,37500497500.0,42500497500.0,47500497500.0,32500.1492500.0,37500.1492500.0,42500.1492500.0,47500.1492500.0,32500.2487500.0,37500.2487500.0,42500.2487500.0,47500.2487500.0

In [138]:
ew_df = pd.DataFrame(new_dict)`

ValueError: arrays must all be same length

In [146]:
for idx, i in enumerate(id_list):
    id_list[idx].append(date_list)

AttributeError: 'str' object has no attribute 'append'

In [152]:
for idx, i in enumerate(id_list):
    id_list[idx]

In [183]:
dict9 = {'ID': id_list}

In [185]:
for key, value in dict9.items():
    print(key, value)

ID ['22500497500.0', '27500497500.0', '32500497500.0', '37500497500.0', '42500497500.0', '47500497500.0', '32500.1492500.0', '37500.1492500.0', '42500.1492500.0', '47500.1492500.0', '32500.2487500.0', '37500.2487500.0', '42500.2487500.0', '47500.2487500.0']

In [162]:
g = pd.DataFrame.from_dict(dict9, orient='index')

In [195]:
from collections import defaultdict
dates_dict = defaultdict(date_list)
for key, date in dict9:
    dates_dict[key].append(date)

TypeError: first argument must be callable or None

defaultdict(list, {})