# Merge the stuff

In [1]:
import pandas as pd
from os import *
from pathlib import *
from matplotlib import *
import numpy as np

In [2]:
def clean_csv(the_file,reading_type):
    frame = pd.read_csv(the_file,header=None)
    multi_indexing = frame.iloc[[0, 1], 1:].apply(lambda x: (f'{int(x.iloc[0]):06}', f'{int(x.iloc[1]):06}'))
    multi_indexing = pd.MultiIndex.from_tuples(multi_indexing, names=['easting', 'northing'])
    frame = frame.drop([0,1],axis=0)

    date_index = frame.iloc[0:,0].apply(lambda x: pd.to_datetime(x))
    #date_index = pd.MultiIndex.from_tuples(date_index, names = ['date','reading'])
    frame = frame.drop(0,axis=1)
    frame = frame.set_index(date_index)
    frame.index.name = 'date'
    frame.columns = multi_indexing
    frame = frame.loc['2000-01-01':]
    return frame

## Rainfall

In [3]:
directory = [k for k in os.listdir('./rainfall') if k.endswith('csv')]
to_append = []
for file in directory[0:]:
    to_append.append(clean_csv('./rainfall/' + file,'rainfall'))
rainfall = pd.concat(to_append,axis=1,verify_integrity=True)

## Mean Temp

In [4]:
directory = [k for k in os.listdir('./mean_temp') if k.endswith('csv')]
to_append = []
for file in directory[0:]:
    to_append.append(clean_csv('./mean_temp/' + file,'mean_temp'))
mean_temp = pd.concat(to_append,axis=1,verify_integrity=True)

## Max Temp

In [5]:
directory = [k for k in os.listdir('./max_temp') if k.endswith('csv')]
to_append = []
for file in directory[0:]:
    to_append.append(clean_csv('./max_temp/' + file,'max_temp'))
max_temp = pd.concat(to_append,axis=1,verify_integrity=True)

## Min Temp

In [6]:
directory = [k for k in os.listdir('./min_temp') if k.endswith('csv')]
to_append = []
for file in directory[0:]:
    to_append.append(clean_csv('./min_temp/' + file,'min_temp'))
min_temp = pd.concat(to_append,axis=1,verify_integrity=True)

In [38]:
rainfall = rainfall.loc[:,rainfall.columns & min_temp.columns]
rainfall = rainfall.loc[:,np.intersect1d(rainfall.columns, min_temp.columns)]
rainfall = rainfall.loc[:,rainfall.columns.intersection(min_temp.columns)]

## Merge the stuff

In [7]:
#THIS ONE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
weather = pd.concat([min_temp,mean_temp,max_temp,rainfall],keys=['min_temp','mean_temp','max_temp','rainfall'],axis=0,join='outer')

In [8]:
# Set about fixing the indexes
weather.index.rename('reading',level=0,inplace=True)

In [9]:
weather.index = weather.index.swaplevel(0)

In [10]:
weather.sort_index(axis=0,level=0,inplace=True)

In [11]:
weather

easting              002500        007500               012500                \
northing             522500 527500 517500 522500 527500 512500 517500 522500
date       reading
2000-01-01 max_temp    9.31   9.17   8.87   8.31   8.92   8.45   8.24   7.57
           mean_temp   6.22   6.08   5.86   5.83   5.88   4.92   4.79   4.46
           min_temp    3.13   2.99   2.85   3.36   2.84   1.39   1.33   1.34
           rainfall    0.33   0.21   0.38   0.00   0.18   0.12   0.41   0.42
2000-01-02 max_temp    9.27   9.06   8.85   8.02   8.86   8.68   8.40   7.53
           mean_temp   6.48   6.34   6.14   5.94   6.19   5.54   5.31   4.77
           min_temp    3.70   3.61   3.43   3.85   3.51   2.39   2.23   2.01
           rainfall    2.58   2.24   3.04   2.38   2.43   1.71   2.49   2.88
2000-01-03 max_temp    7.38   7.40   6.80   6.67   7.22   6.69   6.47   5.60
           mean_temp   6.31   6.18   5.80   5.58   5.96   5.23   4.96   4.21
           min_temp    5.24   4.95   4.79   4.50   4.70   3.77   3.45   2.81
           rainfall    2.26   2.69   2.77   3.75   3.30   3.22   3.50   4.09
2000-01-04 max_temp    8.68   8.22   8.19   5.92   7.78   8.08   7.71   6.59
           mean_temp   5.27   5.10   4.87   4.31   4.88   4.47   4.24   3.60
           min_temp    1.86   1.97   1.55   2.71   1.97   0.86   0.77   0.61
           rainfall    1.51   1.72   1.84   2.56   2.15   1.96   2.22   2.66
2000-01-05 max_temp   10.66  10.67  10.22  10.36  10.57  10.02   9.82   9.11
           mean_temp   5.76   5.76   5.35   5.37   5.62   5.05   4.83   4.22
           min_temp    0.86   0.85   0.47   0.39   0.66   0.09  -0.16  -0.67
           rainfall    7.83   8.72   9.50  12.24  10.65   8.46  11.07  13.30
2000-01-06 max_temp    9.63   9.25   9.05   8.59   8.91   7.79   7.23   6.36
           mean_temp   6.50   6.10   6.02   5.64   5.82   4.72   4.29   3.58
           min_temp    3.37   2.94   2.98   2.69   2.73   1.65   1.36   0.80
           rainfall    1.52   2.01   1.93   2.86   2.51   4.41   2.96   3.14
2000-01-07 max_temp   10.74  10.78  10.23  10.45  10.67  10.02   9.85   9.10
           mean_temp   6.80   6.86   6.32   6.80   6.73   5.84   5.62   5.07
           min_temp    2.86   2.94   2.42   3.14   2.79   1.66   1.39   1.03
           rainfall    6.67   6.29   7.98   6.54   6.90   7.64   8.02   8.68
2000-01-08 max_temp    6.15   5.94   5.59   5.46   5.77   4.88   4.63   3.77
           mean_temp   4.68   4.54   4.14   4.12   4.35   3.47   3.22   2.47
...                     ...    ...    ...    ...    ...    ...    ...    ...
2016-12-24 min_temp    3.19   3.19   2.79   2.85   3.11   2.50   2.32   1.65
           rainfall    5.37   5.13   6.33   5.72   5.67   6.89   6.40   6.98
2016-12-25 max_temp   13.12  13.10  12.57  12.40  12.91  12.26  12.03  11.20
           mean_temp   9.15   9.13   8.71   8.66   9.03   8.44   8.24   7.51
           min_temp    5.18   5.16   4.86   4.92   5.15   4.63   4.45   3.83
           rainfall    5.21   5.38   5.66   5.24   6.04   8.76   7.07   8.23
2016-12-26 max_temp    6.64   6.66   6.10   5.96   6.52   5.80   5.61   4.80
           mean_temp   4.73   4.75   4.22   4.19   4.61   3.89   3.70   2.97
           min_temp    2.83   2.84   2.34   2.42   2.71   1.97   1.79   1.13
           rainfall    0.15   0.26   0.02   0.05   0.31   1.16   0.44   0.58
2016-12-27 max_temp    7.02   6.99   6.48   6.45   6.75   6.05   6.00   5.55
           mean_temp   4.54   4.62   4.09   4.16   4.39   3.69   3.64   3.25
           min_temp    2.07   2.25   1.69   1.88   2.04   1.33   1.29   0.95
           rainfall    0.02   0.02   0.00   0.00   0.02   0.34   0.05   0.02
2016-12-28 max_temp    6.71   6.66   6.42   6.34   6.67   6.27   6.14   5.60
           mean_temp   3.41   3.52   3.24   3.37   3.52   3.07   3.07   2.84
           min_temp    0.12   0.37   0.06   0.40   0.37  -0.12  -0.00   0.07
           rainfall    0.00   0.01   0.00   0.00   0.00   0.00   0.00   0.00
2016-12-29 max_temp   12.00  12.02  11.53  11.44  11.82  11.18  11.05  10.51
           mean_temp   7.81   7.90   7.49   7.61   7.74   7.15   7.14   6.94
           min_temp    3.62   3.78   3.45   3.78   3.65   3.12   3.24   3.37
           rainfall    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
2016-12-30 max_temp   12.28  12.25  11.92  11.79  12.15  11.73  11.54  10.92
           mean_temp   8.18   8.25   7.99   7.99   8.17   7.85   7.69   7.27
           min_temp    4.08   4.24   4.06   4.18   4.18   3.96   3.83   3.61
           rainfall    0.04   0.05   0.01   0.01   0.04   0.68   0.10   0.03
2016-12-31 max_temp   11.02  11.01  10.59  10.46  10.91  10.40  10.18   9.46
           mean_temp   9.54   9.55   9.31   9.35   9.58   9.26   9.06   8.58
           min_temp    8.05   8.10   8.04   8.23   8.26   8.13   7.94   7.69
           rainfall    9.36   8.68  11.29  10.16   9.62  11.91  11.13  12.09

easting                             ...   647500        652500                \
northing             527500 532500  ...   317500 322500 277500 282500 287500
date       reading                  ...
2000-01-01 max_temp    8.86   8.50  ...     9.82   9.40   9.33   8.84   8.52
           mean_temp   5.39   5.12  ...     6.63   6.60   6.87   6.55   6.32
           min_temp    1.91   1.75  ...     3.44   3.79   4.40   4.25   4.12
           rainfall    0.32   0.32  ...     0.10   0.09   0.22   0.26   0.22
2000-01-02 max_temp    9.03   8.56  ...    10.43  10.42  10.21  10.09  10.00
           mean_temp   5.95   5.58  ...     5.85   5.95   6.65   6.46   6.20
           min_temp    2.86   2.61  ...     1.28   1.47   3.09   2.84   2.40
           rainfall    2.31   2.34  ...     0.00   0.01   0.00   0.00   0.00
2000-01-03 max_temp    7.29   6.70  ...    10.23  10.36  10.66  10.55  10.48
           mean_temp   5.74   5.21  ...     6.60   6.77   7.56   7.39   7.28
           min_temp    4.19   3.72  ...     2.96   3.18   4.46   4.23   4.08
           rainfall    3.44   4.10  ...    10.25   9.46   6.55   7.14   7.52
2000-01-04 max_temp    8.30   7.95  ...     6.68   6.77   7.49   7.25   6.89
           mean_temp   4.84   4.46  ...     3.70   3.74   4.58   4.46   4.31
           min_temp    1.38   0.97  ...     0.72   0.71   1.68   1.67   1.73
           rainfall    2.10   2.09  ...     0.20   0.19   0.47   0.51   0.73
2000-01-05 max_temp   10.53   9.98  ...     9.57   9.66   9.45   9.43   9.42
           mean_temp   5.51   5.08  ...     4.94   5.14   5.48   5.42   5.40
           min_temp    0.49   0.18  ...     0.30   0.63   1.52   1.41   1.38
           rainfall   10.73  11.43  ...     0.94   0.88   0.32   0.28   0.30
2000-01-06 max_temp    8.23   7.92  ...     9.85   9.92  10.07   9.94   9.82
           mean_temp   5.16   4.77  ...     6.30   6.55   7.69   7.28   7.00
           min_temp    2.09   1.61  ...     2.75   3.17   5.31   4.63   4.19
           rainfall    2.71   3.40  ...     0.05   0.06   0.13   0.17   0.46
2000-01-07 max_temp   10.62  10.01  ...     9.63   9.60   9.52   9.37   9.27
           mean_temp   6.40   5.95  ...     5.50   5.65   5.97   5.85   5.78
           min_temp    2.18   1.89  ...     1.38   1.69   2.42   2.32   2.29
           rainfall    7.29   8.28  ...     0.65   0.63   1.74   2.16   2.07
2000-01-08 max_temp    5.55   4.89  ...     8.31   8.27   8.85   8.48   8.11
           mean_temp   4.08   3.48  ...     6.50   6.65   6.93   6.80   6.60
...                     ...    ...  ...      ...    ...    ...    ...    ...
2016-12-24 min_temp    2.93   2.29  ...     4.51   4.91   5.16   4.95   4.58
           rainfall    5.90   6.72  ...     0.01   0.01   0.00   0.00   0.00
2016-12-25 max_temp   12.86  12.29  ...    13.55  13.60  13.29  13.19  13.08
           mean_temp   8.93   8.34  ...     9.28   9.46   9.41   9.27   9.05
           min_temp    5.00   4.39  ...     5.01   5.32   5.54   5.35   5.02
           rainfall    7.12   7.87  ...     0.77   0.91   1.17   1.08   0.92
2016-12-26 max_temp    6.50   5.95  ...     7.54   7.60   8.10   7.86   7.62
           mean_temp   4.49   3.90  ...     6.53   6.70   7.23   7.00   6.70
           min_temp    2.47   1.85  ...     5.51   5.80   6.35   6.14   5.78
           rainfall    0.55   0.60  ...     0.00   0.00   0.00   0.00   0.00
2016-12-27 max_temp    6.62   6.29  ...     7.22   7.45   8.35   8.01   7.69
           mean_temp   4.23   3.86  ...     4.74   5.27   5.69   5.32   4.95
           min_temp    1.84   1.44  ...     2.25   3.09   3.03   2.63   2.22
           rainfall    0.02   0.03  ...     0.00   0.00   0.00   0.00   0.00
2016-12-28 max_temp    6.75   6.36  ...     5.50   5.52   6.80   6.44   6.12
           mean_temp   3.55   3.31  ...     2.03   2.45   3.19   2.79   2.46
           min_temp    0.36   0.26  ...    -1.45  -0.63  -0.42  -0.85  -1.21
           rainfall    0.00   0.01  ...     0.04   0.08   0.19   0.16   0.12
2016-12-29 max_temp   11.72  11.35  ...     5.95   6.07   6.82   6.52   6.28
           mean_temp   7.61   7.40  ...     2.88   3.40   3.98   3.57   3.22
           min_temp    3.51   3.44  ...    -0.20   0.73   1.13   0.62   0.16
           rainfall    0.00   0.00  ...     0.17   0.16   0.22   0.21   0.19
2016-12-30 max_temp   12.16  11.71  ...     4.66   4.68   4.43   4.30   4.19
           mean_temp   8.09   7.72  ...     2.48   2.92   2.84   2.59   2.32
           min_temp    4.02   3.74  ...     0.30   1.16   1.26   0.88   0.45
           rainfall    0.03   0.04  ...     0.19   0.20   0.15   0.17   0.17
2016-12-31 max_temp   10.94  10.41  ...     7.95   8.08   7.92   7.75   7.59
           mean_temp   9.59   9.13  ...     4.03   4.30   4.19   4.04   3.82
           min_temp    8.25   7.85  ...     0.11   0.52   0.45   0.34   0.05
           rainfall    9.82  10.49  ...     0.46   0.72   0.51   0.52   0.46

easting
northing             292500 297500 302500 307500 312500
date       reading
2000-01-01 max_temp    8.48   8.45   8.69   9.14   9.65
           mean_temp   6.30   6.28   6.40   6.57   6.79
           min_temp    4.12   4.11   4.10   4.01   3.93
           rainfall    0.09   0.04   0.10   0.13   0.09
2000-01-02 max_temp   10.09  10.09  10.20  10.36  10.40
           mean_temp   6.12   6.04   6.14   6.16   6.10
           min_temp    2.14   2.00   2.07   1.97   1.81
           rainfall    0.00   0.00   0.01   0.01   0.00
2000-01-03 max_temp   10.65  10.62  10.56  10.51  10.35
           mean_temp   7.44   7.36   7.20   7.01   6.81
           min_temp    4.23   4.10   3.83   3.52   3.28
           rainfall    5.86   6.48   6.83   8.30  10.55
2000-01-04 max_temp    6.75   6.65   6.88   7.03   6.96
           mean_temp   4.36   4.21   4.12   4.06   4.04
           min_temp    1.98   1.76   1.37   1.09   1.12
           rainfall    0.23   0.46   0.35   0.25   0.23
2000-01-05 max_temp    9.57   9.57   9.59   9.62   9.54
           mean_temp   5.58   5.55   5.43   5.28   5.13
           min_temp    1.58   1.53   1.26   0.94   0.71
           rainfall    0.52   0.81   0.65   0.70   0.99
2000-01-06 max_temp    9.91   9.88   9.94   9.99   9.91
           mean_temp   7.05   6.97   6.90   6.76   6.55
           min_temp    4.18   4.07   3.85   3.52   3.20
           rainfall    0.02   0.17   0.13   0.10   0.05
2000-01-07 max_temp    9.38   9.36   9.43   9.56   9.60
           mean_temp   5.93   5.89   5.82   5.76   5.71
           min_temp    2.48   2.42   2.20   1.96   1.81
           rainfall    0.32   0.48   0.61   0.64   0.79
2000-01-08 max_temp    8.06   7.98   8.13   8.32   8.37
           mean_temp   6.61   6.55   6.64   6.74   6.75
...                     ...    ...    ...    ...    ...
2016-12-24 min_temp    4.48   4.58   4.82   4.96   4.94
           rainfall    0.00   0.00   0.00   0.00   0.01
2016-12-25 max_temp   13.20  13.24  13.40  13.53  13.54
           mean_temp   9.06   9.14   9.33   9.45   9.43
           min_temp    4.92   5.04   5.26   5.37   5.32
           rainfall    0.82   0.81   0.77   0.72   0.82
2016-12-26 max_temp    7.64   7.57   7.66   7.71   7.70
           mean_temp   6.64   6.63   6.76   6.83   6.77
           min_temp    5.64   5.68   5.87   5.94   5.85
           rainfall    0.00   0.00   0.00   0.00   0.00
2016-12-27 max_temp    7.57   7.44   7.44   7.45   7.50
           mean_temp   4.86   4.89   5.07   5.22   5.33
           min_temp    2.15   2.33   2.70   2.98   3.16
           rainfall    0.00   0.00   0.00   0.00   0.00
2016-12-28 max_temp    6.00   5.84   5.89   5.88   5.86
           mean_temp   2.38   2.37   2.61   2.71   2.75
           min_temp   -1.24  -1.09  -0.68  -0.47  -0.36
           rainfall    0.08   0.06   0.05   0.04   0.05
2016-12-29 max_temp    6.23   6.08   6.08   6.09   6.10
           mean_temp   3.08   3.12   3.30   3.41   3.52
           min_temp   -0.06   0.15   0.51   0.73   0.95
           rainfall    0.17   0.18   0.18   0.16   0.18
2016-12-30 max_temp    4.28   4.33   4.46   4.57   4.61
           mean_temp   2.28   2.41   2.65   2.80   2.91
           min_temp    0.28   0.49   0.84   1.04   1.21
           rainfall    0.17   0.19   0.19   0.17   0.20
2016-12-31 max_temp    7.65   7.67   7.81   7.93   7.98
           mean_temp   3.79   3.84   4.08   4.19   4.21
           min_temp   -0.07   0.01   0.36   0.45   0.43
           rainfall    0.42   0.40   0.39   0.36   0.46

[24840 rows x 10359 columns]

In [12]:
weather.to_csv('met_data_complete.csv')