# Read the MET Data

In [1]:
import pandas as pd

In [3]:
weather = pd.read_csv('met_data_partial.csv',header=[0,1],index_col=[0,1])

In [4]:
weather

easting              002500        007500               012500                \
northing             522500 527500 517500 522500 527500 512500 517500 522500
date       reading
2000-01-01 max_temp    9.31   9.17   8.87   8.31   8.92   8.45   8.24   7.57
           mean_temp   6.22   6.08   5.86   5.83   5.88   4.92   4.79   4.46
           min_temp    3.13   2.99   2.85   3.36   2.84   1.39   1.33   1.34
           rainfall    0.33   0.21   0.38   0.00   0.18   0.12   0.41   0.42
2000-01-02 max_temp    9.27   9.06   8.85   8.02   8.86   8.68   8.40   7.53
           mean_temp   6.48   6.34   6.14   5.94   6.19   5.54   5.31   4.77
           min_temp    3.70   3.61   3.43   3.85   3.51   2.39   2.23   2.01
           rainfall    2.58   2.24   3.04   2.38   2.43   1.71   2.49   2.88
2000-01-03 max_temp    7.38   7.40   6.80   6.67   7.22   6.69   6.47   5.60
           mean_temp   6.31   6.18   5.80   5.58   5.96   5.23   4.96   4.21
           min_temp    5.24   4.95   4.79   4.50   4.70   3.77   3.45   2.81
           rainfall    2.26   2.69   2.77   3.75   3.30   3.22   3.50   4.09
2000-01-04 max_temp    8.68   8.22   8.19   5.92   7.78   8.08   7.71   6.59
           mean_temp   5.27   5.10   4.87   4.31   4.88   4.47   4.24   3.60
           min_temp    1.86   1.97   1.55   2.71   1.97   0.86   0.77   0.61
           rainfall    1.51   1.72   1.84   2.56   2.15   1.96   2.22   2.66
2000-01-05 max_temp   10.66  10.67  10.22  10.36  10.57  10.02   9.82   9.11
           mean_temp   5.76   5.76   5.35   5.37   5.62   5.05   4.83   4.22
           min_temp    0.86   0.85   0.47   0.39   0.66   0.09  -0.16  -0.67
           rainfall    7.83   8.72   9.50  12.24  10.65   8.46  11.07  13.30
2000-01-06 max_temp    9.63   9.25   9.05   8.59   8.91   7.79   7.23   6.36
           mean_temp   6.50   6.10   6.02   5.64   5.82   4.72   4.29   3.58
           min_temp    3.37   2.94   2.98   2.69   2.73   1.65   1.36   0.80
           rainfall    1.52   2.01   1.93   2.86   2.51   4.41   2.96   3.14
2000-01-07 max_temp   10.74  10.78  10.23  10.45  10.67  10.02   9.85   9.10
           mean_temp   6.80   6.86   6.32   6.80   6.73   5.84   5.62   5.07
           min_temp    2.86   2.94   2.42   3.14   2.79   1.66   1.39   1.03
           rainfall    6.67   6.29   7.98   6.54   6.90   7.64   8.02   8.68
2000-01-08 max_temp    6.15   5.94   5.59   5.46   5.77   4.88   4.63   3.77
           mean_temp   4.68   4.54   4.14   4.12   4.35   3.47   3.22   2.47
...                     ...    ...    ...    ...    ...    ...    ...    ...
2016-12-24 min_temp    3.19   3.19   2.79   2.85   3.11   2.50   2.32   1.65
           rainfall    5.37   5.13   6.33   5.72   5.67   6.89   6.40   6.98
2016-12-25 max_temp   13.12  13.10  12.57  12.40  12.91  12.26  12.03  11.20
           mean_temp   9.15   9.13   8.71   8.66   9.03   8.44   8.24   7.51
           min_temp    5.18   5.16   4.86   4.92   5.15   4.63   4.45   3.83
           rainfall    5.21   5.38   5.66   5.24   6.04   8.76   7.07   8.23
2016-12-26 max_temp    6.64   6.66   6.10   5.96   6.52   5.80   5.61   4.80
           mean_temp   4.73   4.75   4.22   4.19   4.61   3.89   3.70   2.97
           min_temp    2.83   2.84   2.34   2.42   2.71   1.97   1.79   1.13
           rainfall    0.15   0.26   0.02   0.05   0.31   1.16   0.44   0.58
2016-12-27 max_temp    7.02   6.99   6.48   6.45   6.75   6.05   6.00   5.55
           mean_temp   4.54   4.62   4.09   4.16   4.39   3.69   3.64   3.25
           min_temp    2.07   2.25   1.69   1.88   2.04   1.33   1.29   0.95
           rainfall    0.02   0.02   0.00   0.00   0.02   0.34   0.05   0.02
2016-12-28 max_temp    6.71   6.66   6.42   6.34   6.67   6.27   6.14   5.60
           mean_temp   3.41   3.52   3.24   3.37   3.52   3.07   3.07   2.84
           min_temp    0.12   0.37   0.06   0.40   0.37  -0.12  -0.00   0.07
           rainfall    0.00   0.01   0.00   0.00   0.00   0.00   0.00   0.00
2016-12-29 max_temp   12.00  12.02  11.53  11.44  11.82  11.18  11.05  10.51
           mean_temp   7.81   7.90   7.49   7.61   7.74   7.15   7.14   6.94
           min_temp    3.62   3.78   3.45   3.78   3.65   3.12   3.24   3.37
           rainfall    0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00
2016-12-30 max_temp   12.28  12.25  11.92  11.79  12.15  11.73  11.54  10.92
           mean_temp   8.18   8.25   7.99   7.99   8.17   7.85   7.69   7.27
           min_temp    4.08   4.24   4.06   4.18   4.18   3.96   3.83   3.61
           rainfall    0.04   0.05   0.01   0.01   0.04   0.68   0.10   0.03
2016-12-31 max_temp   11.02  11.01  10.59  10.46  10.91  10.40  10.18   9.46
           mean_temp   9.54   9.55   9.31   9.35   9.58   9.26   9.06   8.58
           min_temp    8.05   8.10   8.04   8.23   8.26   8.13   7.94   7.69
           rainfall    9.36   8.68  11.29  10.16   9.62  11.91  11.13  12.09

easting                             ...   097500                              \
northing             527500 532500  ...   502500 507500 512500 517500 522500
date       reading                  ...
2000-01-01 max_temp    8.86   8.50  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   5.39   5.12  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    1.91   1.75  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.32   0.32  ...     0.09   0.09   0.07   0.15   0.22
2000-01-02 max_temp    9.03   8.56  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   5.95   5.58  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    2.86   2.61  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    2.31   2.34  ...     0.04   0.02   0.13   0.34   0.90
2000-01-03 max_temp    7.29   6.70  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   5.74   5.21  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    4.19   3.72  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    3.44   4.10  ...     1.29   1.13   1.07   0.95   1.32
2000-01-04 max_temp    8.30   7.95  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   4.84   4.46  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    1.38   0.97  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    2.10   2.09  ...     0.08   0.03   0.13   0.25   0.44
2000-01-05 max_temp   10.53   9.98  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   5.51   5.08  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    0.49   0.18  ...      NaN    NaN    NaN    NaN    NaN
           rainfall   10.73  11.43  ...     1.05   0.67   1.22   1.62   2.70
2000-01-06 max_temp    8.23   7.92  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   5.16   4.77  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    2.09   1.61  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    2.71   3.40  ...     0.50   0.46   0.90   1.42   1.88
2000-01-07 max_temp   10.62  10.01  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   6.40   5.95  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    2.18   1.89  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    7.29   8.28  ...     1.61   1.49   1.45   1.75   2.73
2000-01-08 max_temp    5.55   4.89  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   4.08   3.48  ...      NaN    NaN    NaN    NaN    NaN
...                     ...    ...  ...      ...    ...    ...    ...    ...
2016-12-24 min_temp    2.93   2.29  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    5.90   6.72  ...     2.20   2.09   2.25   2.48   2.57
2016-12-25 max_temp   12.86  12.29  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   8.93   8.34  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    5.00   4.39  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    7.12   7.87  ...     2.58   2.46   2.50   2.90   3.07
2016-12-26 max_temp    6.50   5.95  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   4.49   3.90  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    2.47   1.85  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.55   0.60  ...     0.10   0.10   0.12   0.17   0.15
2016-12-27 max_temp    6.62   6.29  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   4.23   3.86  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    1.84   1.44  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.02   0.03  ...     0.00   0.00   0.00   0.00   0.00
2016-12-28 max_temp    6.75   6.36  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   3.55   3.31  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    0.36   0.26  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.01  ...     0.00   0.00   0.00   0.00   0.00
2016-12-29 max_temp   11.72  11.35  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   7.61   7.40  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    3.51   3.44  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.00  ...     0.00   0.00   0.00   0.00   0.00
2016-12-30 max_temp   12.16  11.71  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   8.09   7.72  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    4.02   3.74  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    0.03   0.04  ...     0.00   0.00   0.00   0.00   0.00
2016-12-31 max_temp   10.94  10.41  ...      NaN    NaN    NaN    NaN    NaN
           mean_temp   9.59   9.13  ...      NaN    NaN    NaN    NaN    NaN
           min_temp    8.25   7.85  ...      NaN    NaN    NaN    NaN    NaN
           rainfall    9.82  10.49  ...     7.27   6.93   5.34   4.77   4.98

easting
northing             527500 532500 537500 542500 547500
date       reading
2000-01-01 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.06   0.13   0.33   0.49   0.51
2000-01-02 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    3.15   3.13   0.94   1.18   1.09
2000-01-03 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    1.90   1.97   2.21   2.73   2.88
2000-01-04 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.50   0.53   0.93   1.11   1.20
2000-01-05 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    3.36   3.45   4.11   5.03   5.31
2000-01-06 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    2.66   2.61   1.16   1.96   2.70
2000-01-07 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    4.78   4.87   3.93   4.64   4.50
2000-01-08 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
...                     ...    ...    ...    ...    ...
2016-12-24 min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    2.76   3.21   3.94   4.64   5.68
2016-12-25 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    3.27   3.58   4.05   4.48   5.54
2016-12-26 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.11   0.12   0.13   0.14   0.16
2016-12-27 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.01   0.01   0.00   0.00
2016-12-28 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.01   0.04   0.07   0.09
2016-12-29 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.01   0.01   0.01   0.00
2016-12-30 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    0.00   0.00   0.00   0.00   0.00
2016-12-31 max_temp     NaN    NaN    NaN    NaN    NaN
           mean_temp    NaN    NaN    NaN    NaN    NaN
           min_temp     NaN    NaN    NaN    NaN    NaN
           rainfall    5.32   5.68   6.02   6.19   7.61

[24840 rows x 212 columns]