# Read the MET Data

In [20]:
from scipy.spatial import *
import pandas as pd 
import random

In [13]:
weather = pd.read_csv('met_data_complete.csv',header=[0,1],index_col=[0,1])

In [14]:
weather_locations = weather.columns

# do test to check for the rates of proximity between weather and traffic points

In [16]:
for thing in weather_locations[0:10]:
    print(thing)

('002500', '522500')
('002500', '527500')
('007500', '517500')
('007500', '522500')
('007500', '527500')
('012500', '512500')
('012500', '517500')
('012500', '522500')
('012500', '527500')
('012500', '532500')

In [17]:
the_tree = cKDTree([thing for thing in weather_locations])

In [18]:
traffic = pd.read_csv('Raw_count_data_major_roads.csv')

In [19]:
traffic[0:4]

,Region Name (GO),ONS LACode,ONS LA Name,CP,S Ref E,S Ref N,S Ref Latitude,S Ref Longitude,Road,A-Junction,...,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV
0,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,3,314,169.0,22,10.0,82.0,198,135.0,616.0,3353.0
1,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,3,231,148.0,16,22.0,64.0,180,109.0,539.0,3297.0
2,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,11,245,175.0,14,25.0,65.0,195,116.0,590.0,2730.0
3,East Midlands,E10000021,Northamptonshire,6004,458354,270523,52.329706,-1.14512,M1,17,...,14,271,159.0,19,15.0,57.0,215,143.0,608.0,2400.0

In [28]:
to_query = []

for pos in range(100):
    to_query.append((traffic.iloc[random.randint(0,len(traffic)),4],traffic.iloc[random.randint(0,len(traffic)),5]))

In [29]:
to_query[0:5]

[(527000, 178000),
 (445000, 803000),
 (404720, 180280),
 (622840, 194600),
 (480001, 220000)]

In [38]:
results = the_tree.query_ball_point(to_query,r=50000) # find all weather points within 50km of the traffic point

In [48]:
counts = []
for result in results:
    counts.append(len(result))
print(len([thing for thing in counts if thing < 120]))

21